#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define ABC 0
#define SYM 1
#define NUM 2
#define NAV 3
#define MED 4
#define FUN 5

#define COMBO_TIMEOUT_FAST 30
#define COMBO_TIMEOUT_SLOW 60

&mt {
  flavor = "tap-preferred";
  quick-tap-ms = <150>;
  tapping-term-ms = <150>;
};

&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {
    behaviors {
        ht_combo: ht_combo {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        sym_brc: sym_brc_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sym_par: sym_par_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp RPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sym_bkt: sym_bkt_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
            compatible = "zmk,combos";
            // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            // ┃           !           @           #           $           ┃     ┃           %           ^           &           *           ┃
            // ┣━━━━━━━━━━━╋━━━━ [ ━━━━╋━━━━ { ━━━━╋━━━━ ( ━━━━╋━━━━ ` ━━━━┫     ┣━━━━ ~ ━━━━╋━━━━ ) ━━━━╋━━━━ } ━━━━╋━━━━ ] ━━━━╋━━━━━━━━━━━┫
            // ┃           \           -           '           =           ┃     ┃           +           "           _           |           ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
            // ┃           ┃           ┃           ┃           ┃           ┃     ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                         ┃           ┃           ┃           ┃     ┃           ┃           ┃           ┃
            //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            // --- Vertical Left ---
            combo_lparen {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <3 13>; // P + T
                bindings = <&kp LPAR>;
                layers = <ABC>;
            };
            combo_lbrace {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <2 12>; // F + S
                bindings = <&kp LBRC>;
                layers = <ABC>;
            };
            combo_lbracket {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <1 11>; // W + R
                bindings = <&kp LBKT>;
                layers = <ABC>;
            };
            combo_grave {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <4 14>; // B + G
                bindings = <&kp GRAVE>;
                layers = <ABC>;
            };

            // --- Vertical Right ---
            combo_rparen {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <6 16>; // J + M
                bindings = <&kp RPAR>;
                layers = <ABC>;
            };
            combo_rbrace {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <7 17>; // L + N
                bindings = <&kp RBRC>;
                layers = <ABC>;
            };
            combo_rbracket {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <8 18>; // U + E
                bindings = <&kp RBKT>;
                layers = <ABC>;
            };
            combo_tilde {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <5 15>; // J + M
                bindings = <&kp TILDE>;
                layers = <ABC>;
            };

            // --- Horizontal Left ---
            combo_bslh {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <10 11>; // A + R
                bindings = <&ht_combo LG(LALT) BSLH>;
                layers = <ABC>;
            };
            combo_sqt {
                timeout-ms = <COMBO_TIMEOUT_FAST>;
                key-positions = <12 13>; // S + T
                bindings = <&ht_combo LC(LSHFT) SQT>;
                layers = <ABC>;
            };
            combo_minus {
                timeout-ms = <COMBO_TIMEOUT_FAST>;
                key-positions = <11 12>; // R + S
                bindings = <&ht_combo LA(LCTRL) MINUS>;
                layers = <ABC>;
            };
            combo_equal {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <13 14>; // T + G
                bindings = <&kp EQUAL>;
                layers = <ABC>;
            };
            combo_excl {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <0 1>; // Q + W
                bindings = <&kp EXCL>;
                layers = <ABC>;
            };
            combo_at {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <1 2>; // W + F
                bindings = <&kp AT>;
                layers = <ABC>;
            };
            combo_hash {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <2 3>; // F + P
                bindings = <&kp HASH>;
                layers = <ABC>;
            };
            combo_dllr {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <3 4>; // P + B
                bindings = <&kp DLLR>;
                layers = <ABC>;
            };

            // --- Horizontal Right ---
            combo_pipe {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <18 19>; // I + O
                bindings = <&ht_combo RG(RALT) PIPE>;
                layers = <ABC>;
            };
            combo_dqt {
                timeout-ms = <COMBO_TIMEOUT_FAST>;
                key-positions = <16 17>; // N + E
                bindings = <&ht_combo RC(RSHFT) DQT>;
                layers = <ABC>;
            };
            combo_under {
                timeout-ms = <COMBO_TIMEOUT_FAST>;
                key-positions = <17 18>; // E + I
                bindings = <&ht_combo RC(RALT) UNDER>;
                layers = <ABC>;
            };
            combo_plus {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <15 16>; // M + N
                bindings = <&kp PLUS>;
                layers = <ABC>;
            };
            combo_prcnt {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <5 6>; // J + L
                bindings = <&kp PRCNT>;
                layers = <ABC>;
            };
            combo_caret {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <6 7>; // L + U
                bindings = <&kp CARET>;
                layers = <ABC>;
            };
            combo_amps {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <7 8>; // U + Y
                bindings = <&kp AMPS>;
                layers = <ABC>;
            };
            combo_star {
                timeout-ms = <COMBO_TIMEOUT_SLOW>;
                key-positions = <8 9>; // Y + SEMI
                bindings = <&kp STAR>;
                layers = <ABC>;
            };
     };

        keymap {
                compatible = "zmk,keymap";
                abc_layer {
                    label= "ABC";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃     Q     ┃     W     ┃     F     ┃     P     ┃     B     ┃     ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃     A     ┃     R     ┃     S     ┃     T     ┃     G     ┃     ┃     M     ┃     N     ┃     E     ┃     I     ┃     O     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃     Z     ┃     X     ┃     C     ┃     D     ┃     V     ┃     ┃     K     ┃     H     ┃     ,     ┃     .     ┃     /     ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃    ESC    ┃    SPC    ┃    TAB    ┃     ┃   BKSPC   ┃   ENTER   ┃    DEL    ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &kp Q       &kp W       &kp F       &kp P         &kp B           &kp J        &kp L       &kp U       &kp Y       &kp SEMI
                        &mt LGUI A  &mt LALT R  &mt LCTRL S &mt LSHFT T   &kp G           &kp M        &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
                        &kp Z       &kp X       &kp C       &kp D         &kp V           &kp K        &kp H       &kp COMMA   &kp DOT     &kp FSLH
                                                &lt FUN ESC &lt NAV SPACE &lt NUM TAB     &lt SYM BSPC &lt MED RET &kp DEL
                    >;
                };

                sym_layer {
                    label= "SYM";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃     `     ┃     &     ┃     *     ┃     $     ┃     \     ┃     ┃  BOOTLDR  ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃     (     ┃     {     ┃     [     ┃     '     ┃     =     ┃     ┃  SYS RST  ┃   RSHFT   ┃   RCTRL   ┃   RALT    ┃   RGUI    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃     ^     ┃     !     ┃     @     ┃     #     ┃     %     ┃     ┃           ┃           ┃           ┃           ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃     +     ┃     -     ┃     _     ┃     ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                     bindings = <
                        &kp GRAVE   &kp AMPS    &kp STAR    &kp DLLR    &kp BSLH          &bootloader &none       &none       &none       &none
                        &sym_par    &sym_brc    &sym_bkt    &kp SQT     &kp EQUAL         &sys_reset  &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
                        &kp CARET   &kp EXCL    &kp AT      &kp HASH    &kp PRCNT         &none       &none       &none       &none       &none
                                                &kp PLUS    &kp MINUS   &kp UNDER         &none       &none       &none
                    >;
                };

                num_layer {
                    label= "NUM";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃  BT CLR   ┃  BOOTLDR  ┃     ┃     +     ┃     7     ┃     8     ┃     9     ┃     *     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LSUPR   ┃   LMETA   ┃   LCTRL   ┃   LSHFT   ┃  SYS RST  ┃     ┃     -     ┃     4     ┃     5     ┃     6     ┃     0     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃    BT0    ┃    BT1    ┃    BT2    ┃    BT3    ┃    BT4    ┃     ┃     .     ┃     1     ┃     2     ┃     3     ┃     /     ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃     ┃   BKSPC   ┃    RET    ┃    DEL    ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none        &none        &none        &bt BT_CLR   &bootloader   &kp PLUS    &kp N7      &kp N8      &kp N9      &kp STAR
                        &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &sys_reset    &kp MINUS   &kp N4      &kp N5      &kp N6      &kp N0
                        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp DOT     &kp N1      &kp N2      &kp N3      &kp FSLH
                                                  &none        &none        &none         &kp BSPC    &kp RET     &kp DEL
                    >;
                };

                nav_layer {
                    label= "NAV";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃           ┃           ┃     ┃    REDO   ┃    CUT    ┃    COPY   ┃   PASTE   ┃    UNDO   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LSUPR   ┃   LMETA   ┃   LCTRL   ┃   LSHFT   ┃           ┃     ┃   CAPSW   ┃    LEFT   ┃    DOWN   ┃    UP     ┃   RIGHT   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃           ┃           ┃           ┃           ┃     ┃           ┃    END    ┃   PG_DN   ┃   PG_UP   ┃   HOME    ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃     ┃   BKSPC   ┃   ENTER   ┃    DEL    ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none       &none       &none       &none       &none             &kp K_REDO   &kp K_CUT   &kp K_COPY  &kp K_PASTE &kp K_UNDO
                        &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &none             &caps_word   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                        &none       &none       &none       &none       &none             &none        &kp END     &kp PG_DN   &kp PG_UP   &kp HOME
                                                &none       &none       &none             &kp BSPC     &kp RET     &kp DEL
                    >;
                };

                med_layer {
                    label= "MED";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃    ESC    ┃   BR DN   ┃   PSCRN   ┃   BR UP   ┃           ┃     ┃           ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃    RWD    ┃    PRV    ┃    P/P    ┃    NXT    ┃    FFD    ┃     ┃           ┃   RSHFT   ┃   RCTRL   ┃   RALT    ┃   RGUI    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃   VL DN   ┃    MUT    ┃   VL UP   ┃           ┃     ┃           ┃           ┃           ┃           ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃     ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &kp ESC       &kp C_BRI_DN &kp PSCRN  &kp C_BRI_UP &none          &none       &none       &none       &none       &none
                        &kp C_RW      &kp C_PREV   &kp C_PP   &kp C_NEXT   &kp C_FF       &none       &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
                        &none         &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &none          &none       &none       &none       &none       &none
                                                   &kp ESC    &kp SPACE    &kp TAB        &none       &none       &none
                    >;
                };

                fun_layer {
                    label= "FUN";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃           ┃           ┃     ┃           ┃    F07    ┃    F08    ┃    F09    ┃    F12    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LSUPR   ┃   LMETA   ┃   LCTRL   ┃   LSHFT   ┃           ┃     ┃           ┃    F04    ┃    F05    ┃    F06    ┃    F11    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃           ┃           ┃           ┃           ┃     ┃           ┃    F01    ┃    F02    ┃    F03    ┃    F10    ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃     ┃    ESC    ┃    SPC    ┃    TAB    ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none         &none        &none      &none        &none          &none       &kp F7     &kp F8      &kp F9      &kp F12
                        &kp LGUI      &kp LALT     &kp LCTRL  &kp LSHFT    &none          &none       &kp F4     &kp F5      &kp F6      &kp F11
                        &none         &none        &none      &none        &none          &none       &kp F1     &kp F2      &kp F3      &kp F10
                                                   &none      &none        &none          &kp ESC     &kp SPACE  &kp TAB
                    >;
                };
        };
};
