#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define ABC 0
#define NUM 1
#define SYM 2
#define FUN 3
#define NAV 4
#define MED 5
#define OPR 6

&mt {
  flavor = "balanced";
  quick-tap-ms = <150>;
  tapping-term-ms = <150>;
};

&caps_word {
  continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {
    combos {
            compatible = "zmk,combos";
            combo_esc {
                timeout-ms = <50>;
                key-positions = <0 1>;
                bindings = <&kp ESC>;
            };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp G &kp I &kp F>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                abc_layer {
                    label= "ABC";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃     Q     ┃     W     ┃     F     ┃     P     ┃     B     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     \     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃     A     ┃     R     ┃     S     ┃     T     ┃     G     ┃   ┃     M     ┃     N     ┃     E     ┃     I     ┃     O     ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃     Z     ┃     X     ┃     C     ┃     D     ┃     V     ┃   ┃     K     ┃     H     ┃     ,     ┃     .     ┃     /     ┃ 
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃    ESC    ┃    SPC    ┃    TAB    ┃   ┃    DEL    ┃   ENTER   ┃    BSPC   ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &kp Q       &kp W       &kp F       &kp P         &kp B         &kp J       &kp L       &kp U       &kp Y       &kp BSLH
                        &mt LGUI A  &mt LALT R  &mt LCTRL S &mt LSHFT T   &kp G         &kp M       &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
                        &kp Z       &kp X       &kp C       &kp D         &kp V         &kp K       &kp H       &kp COMMA   &kp DOT     &kp FSLH
                                                &lt MED ESC &lt NAV SPACE &lt OPR TAB   &lt FUN DEL &lt NUM RET &lt SYM BSPC
                    >;
                };

                num_layer {
                    label= "NUM";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃     `     ┃     7     ┃     8     ┃     9     ┃     =     ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃     (     ┃     4     ┃     5     ┃     6     ┃     )     ┃   ┃           ┃   RSHFT   ┃   RCTRL   ┃    RALT   ┃    RGUI   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃     [     ┃     1     ┃     2     ┃     3     ┃     ]     ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃     '     ┃     0     ┃     -     ┃   ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &kp GRAVE    &kp N7      &kp N8      &kp N9      &kp EQUAL      &none       &none       &none       &none       &none 
                        &kp LPAR     &kp N4      &kp N5      &kp N6      &kp RPAR       &none       &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
                        &kp LBKT     &kp N1      &kp N2      &kp N3      &kp RBKT       &none       &none       &none       &none       &none
                                                 &kp SQT     &kp N0      &kp MINUS      &none       &none       &none 
                    >;
                };

                sym_layer {
                    label= "SYM";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃     ~     ┃     &     ┃     *     ┃     ;     ┃     +     ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃     {     ┃     $     ┃     %     ┃     ^     ┃     }     ┃   ┃           ┃   RSHFT   ┃   RCTRL   ┃    RALT   ┃    RGUI   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃     <     ┃     !     ┃     @     ┃     #     ┃     >     ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃     "     ┃     :     ┃     _     ┃   ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &kp TILDE   &kp AMPS    &kp ASTRK   &kp SEMI    &kp PLUS        &none       &none       &none       &none       &none
                        &kp LBRC    &kp DLLR    &kp PRCNT   &kp CARET   &kp RBRC        &none       &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
                        &kp LT      &kp EXCL    &kp AT      &kp HASH    &kp GT          &none       &none       &none       &none       &none
                                                &kp DQT     &kp COLON   &kp UNDER       &none       &none       &none
                    >;
                };

                fun_layer {
                    label= "FUN";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃     F7    ┃     F8    ┃     F9    ┃    F12    ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃           ┃     F4    ┃     F5    ┃     F6    ┃    F11    ┃   ┃           ┃   RSHFT   ┃   RCTRL   ┃    RALT   ┃    RGUI   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃     F1    ┃     F2    ┃     F3    ┃    F10    ┃   ┃           ┃           ┃           ┃    RST    ┃   BTDLR   ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none       &kp F7      &kp F8      &kp F9      &kp F12        &none       &none       &none       &none       &none
                        &none       &kp F4      &kp F5      &kp F6      &kp F11        &none       &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
                        &none       &kp F1      &kp F2      &kp F3      &kp F10        &none       &none       &none       &sys_reset  &bootloader
                                                &none       &none       &none          &none       &none       &none
                    >;
                };

                nav_layer {
                    label= "NAV";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃           ┃           ┃   ┃    UNDO   ┃    CUT    ┃    COPY   ┃   PASTE   ┃    REDO   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LGUI    ┃   LALT    ┃   LCTRL   ┃   LSHFT   ┃           ┃   ┃    CAPS   ┃    LEFT   ┃    DOWN   ┃     UP    ┃   RIGHT   ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃           ┃           ┃           ┃           ┃   ┃    INS    ┃    HOME   ┃   PG_DN   ┃   PG_UP   ┃    END    ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃   ┃    DEL    ┃   ENTER   ┃    BSPC   ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none       &none       &none       &none       &none           &kp K_UNDO   &kp K_CUT   &kp K_COPY  &kp K_PASTE &kp K_REDO
                        &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &none           &caps_word   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                        &none       &none       &none       &none       &none           &kp INS      &kp HOME    &kp PG_DN   &kp PG_UP   &kp END      
                                                &none       &none       &none           &kp DEL      &kp RET     &kp BSPC
                    >;
                };

                med_layer {
                    label= "MED";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃           ┃           ┃   ┃   BR MIN  ┃   BR DN   ┃   PSCRN   ┃   BR UP   ┃   BR MAX  ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LGUI    ┃   LALT    ┃   LCTRL   ┃   LSHFT   ┃           ┃   ┃     RW    ┃    PREV   ┃    P/P    ┃    NEXT   ┃     FF    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃   VOL DN  ┃    MUTE   ┃   VOL UP  ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none       &none       &none       &none       &none           &kp C_BRI_MIN &kp C_BRI_DN &kp PSCRN &kp C_BRI_UP &kp C_BRI_MAX       
                        &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &none           &kp C_RW    &kp C_PREV   &kp C_PP    &kp C_NEXT   &kp C_FF 
                        &none       &none       &none       &none       &none           &none       &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP &none      
                                                &none       &none       &none           &none       &none       &none
                    >;
                };

                opr_layer {
                    label= "OPR";
                    // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
                    // ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
                    // ┃   LGUI    ┃   LALT    ┃   LCTRL   ┃   LSHFT   ┃           ┃   ┃    BT1    ┃    BT2    ┃    BT3    ┃    BT4    ┃    BT5    ┃
                    // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
                    // ┃   BTDLR   ┃    RST    ┃           ┃           ┃           ┃   ┃  BT CLR   ┃ BT CLRALL ┃           ┃           ┃           ┃
                    // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
                    //                         ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
                    //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                    bindings = <
                        &none       &none       &none       &none       &none           &none        &none        &none        &none        &none                  
                        &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &none           &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5       
                        &bootloader &sys_reset  &none       &none       &none           &bt BT_CLR   &bt BT_CLR_ALL &none       &none        &none
                                                &none       &none       &none           &none        &none        &none               
                    >;
                };
        };
};
