#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };

    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    miryoku_base_layer {
      label = "BASE";
      // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
      // ┃     Q     ┃     W     ┃     F     ┃     P     ┃     B     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     '     ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃   LGUI A  ┃   LALT R  ┃   LCTL S  ┃   LSHF T  ┃     G     ┃   ┃     M     ┃   RSHF N  ┃   RCTL E  ┃   RALT I  ┃   RGUI O  ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃     Z     ┃     X     ┃     C     ┃     D     ┃     V     ┃   ┃     K     ┃     H     ┃     ,     ┃     .     ┃     /     ┃
      // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
      //                         ┃   MEDIA   ┃    NAV    ┃   MOUSE   ┃   ┃    SYM    ┃    NUM    ┃    FUN    ┃
      //                         ┃    ESC    ┃    SPC    ┃    TAB    ┃   ┃    ENT    ┃    BSP    ┃    DEL    ┃
      //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
        &kp Q           &kp W           &kp F           &kp P           &kp B           &kp J           &kp L           &kp U           &kp Y           &kp SQT
        &u_mt LGUI A    &u_mt LALT R    &u_mt LCTRL S   &u_mt LSHFT T   &kp G           &kp M           &u_mt RSHFT N   &u_mt RCTRL E   &u_mt RALT I    &u_mt RGUI O
        &kp Z           &kp X           &kp C           &kp D           &kp V           &kp K           &kp H           &kp COMMA       &kp DOT         &kp SLASH
                                        &kp ESC         &lt 1 SPACE     &kp TAB         &lt 3 RET       &lt 2 BSPC      &lt 4 DEL
      >;
    };

    miryoku_nav_layer {
      label = "NAV";
      // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
      // ┃           ┃           ┃           ┃           ┃           ┃   ┃    REDO   ┃   PASTE   ┃    COPY   ┃    CUT    ┃   UNDO    ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃           ┃           ┃           ┃           ┃           ┃   ┃    CAPS   ┃    LEFT   ┃    DOWN   ┃     UP    ┃   RIGHT   ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃           ┃           ┃           ┃           ┃           ┃   ┃    INS    ┃    HOME   ┃    PGDN   ┃    PGUP   ┃    END    ┃
      // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
      //                         ┃           ┃           ┃           ┃   ┃    ENT    ┃    BSP    ┃    DEL    ┃
      //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
        &trans          &trans          &trans          &trans          &trans          &kp K_REDO      &kp K_PASTE     &kp K_COPY      &kp K_CUT       &kp K_UNDO
        &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &trans          &kp CAPS        &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT
        &trans          &trans          &trans          &trans          &trans          &kp INS         &kp HOME        &kp PG_DN       &kp PG_UP       &kp END
                                        &trans          &trans          &trans          &kp RET         &kp BSPC        &kp DEL
      >;
    };

    miryoku_num_layer {
      label = "NUM";
      // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
      // ┃     [     ┃     7     ┃     8     ┃     9     ┃     ]     ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃     ;     ┃     4     ┃     5     ┃     6     ┃     =     ┃   ┃           ┃   LSHFT   ┃   LCTRL   ┃    LALT   ┃    LGUI   ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
      // ┃     `     ┃     1     ┃     2     ┃     3     ┃     \     ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
      //                         ┃     .     ┃     0     ┃     -     ┃   ┃           ┃           ┃           ┃
      //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
        &kp LBKT        &kp N7          &kp N8          &kp N9          &kp RBKT        &trans          &trans          &trans          &trans          &trans
        &kp SEMI        &kp N4          &kp N5          &kp N6          &kp EQUAL       &trans          &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
        &kp GRAVE       &kp N1          &kp N2          &kp N3          &kp BSLH        &trans          &trans          &trans          &trans          &trans
                                        &kp DOT         &kp N0          &kp MINUS       &trans          &trans          &trans
      >;
    };

    miryoku_sym_layer {
      label = "SYM";
      // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
      // ┃     {     ┃     &     ┃     *     ┃     (     ┃     }     ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃     :     ┃     $     ┃     %     ┃     ^     ┃     +     ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
      // ┃     ~     ┃     !     ┃     @     ┃     #     ┃     |     ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
      //                         ┃     (     ┃     )     ┃     _     ┃   ┃           ┃           ┃           ┃
      //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
        &kp LBRC        &kp AMPS        &kp STAR        &kp LPAR        &kp RBRC        &trans          &trans          &trans          &trans          &trans
        &kp COLON       &kp DLLR        &kp PRCNT       &kp CARET       &kp PLUS        &trans          &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
        &kp TILDE       &kp EXCL        &kp AT          &kp HASH        &kp PIPE        &trans          &trans          &trans          &trans          &trans
                                        &kp LPAR        &kp RPAR        &kp UNDER       &trans          &trans          &trans
      >;
    };

    miryoku_fun_layer {
      label = "FUN";
      // ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
      // ┃    F12    ┃    F7     ┃    F8     ┃    F9     ┃   PRTSC   ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
      // ┃    F11    ┃    F4     ┃    F5     ┃    F6     ┃  SCRLOCK  ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┃
      // ┃    F10    ┃    F1     ┃    F2     ┃    F3     ┃   PAUSE   ┃   ┃           ┃           ┃           ┃           ┃           ┃
      // ┗━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┛
      //                         ┃    MENU   ┃    TAB    ┃           ┃   ┃           ┃           ┃           ┃
      //                         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
        &kp F12         &kp F7          &kp F8          &kp F9          &kp PSCRN       &trans          &trans          &trans          &trans          &trans
        &kp F11         &kp F4          &kp F5          &kp F6          &kp SLCK        &trans          &kp LSHFT       &kp LCTRL       &kp LALT        &kp LGUI
        &kp F10         &kp F1          &kp F2          &kp F3          &kp PAUSE_BREAK &trans          &trans          &trans          &trans          &trans
                                        &trans          &kp TAB         &trans          &trans          &trans          &trans
      >;
    };
  };
};
